<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
		integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- Remix Icon CDN -->
	<link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link th:href="@{/css/style.css}" rel="stylesheet">
	<link th:href="@{/css/toast.css}" rel="stylesheet">
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/custom_table.css}">
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


</head>

<body>

	<!-- <div th:replace="Navbar :: navbar"></div>
	<main class="d-flex">
		<div class="main-content  p-0 ">
			<div class="alert-box  text-center">
				Welcome to New <span style="padding-right: 5px;padding-left: 5px;">ERP</span> Portal
			</div>

	 Main Page Data  
			<div class="container-fluid px-3 p-0 pb-5">
				<div class="d-flex flex-wrap gap-2 page-header justify-content-between align-items-center">
					<h3 class="page-heading">
						Employee ❯ Add Employee
					</h3>
					<p class="header-date m-0 " id="current-date"></p>
				</div>

				<div class="d-flex mb-3">
					<a href="#" class="back-arrow pback" onclick="goBack()">
						<i class="ri-arrow-left-line"></i> <span class=" px-3">Back to Previous Page</span>
					</a>
				</div>

			<div class="container-fluid row pb-3 d-flex justify-content-center mt-5">

				<div class="ms-5 col-md-8 p-4 border mb-4">
					<div class="panel">
						<div class="panel-heading">

							<div style="padding-top: 30px" class="panel-body">
								 Form Starts Here  

								<form th:action="@{addemployee}" th:object="${employee}" method="post" id="myForm">

									<input type="hidden" th:field="*{id}">


									<div class="p-3">

										<div class="row">

											<label class="org-form-label my-2 ">Name</label> <input type="text"
												th:field="*{empname}"
												class="form-control org-form-input add-org-form-input" />

										</div>
										<br>

										<div class="row">

											<label class="org-form-label my-2 ">Email</label> <input type="text"
												th:field="*{empemail}"
												class="form-control org-form-input add-org-form-input" />

										</div>
										<br>
										<div class="row">

											<label class="org-form-label my-2">designation</label>
											<select id="courier_weight_unit" th:field="*{designation}"
												class="form-select org-form-input add-org-form-input">
												<option value="none">select designation</option>
												<option value="employee">assistant</option>
												<option value="admin">admin</option>
											</select>
										</div>
										<br>
										<div class="row">

											<label class="org-form-label my-2 ">Contact</label> <input type="text"
												th:field="*{empcontact}"
												class="form-control org-form-input add-org-form-input" />

										</div>
										<br><br>
										<div> <button type="submit">add employee</button>
										</div>
									</div>

								</form>
-->
	<div th:replace="Navbar :: navbar"></div>
	<!-- Body  -->
	<div class="main-content  p-0 ">
		<div class="alert-box  text-center">
			Welcome to ERP Portal <span style="padding-right: 5px;padding-left: 5px;">ERP</span> Portal
		</div>

		<!-- Main Page Data  -->
		<div class="container-fluid px-3 p-0 pb-5">
			<div class="d-flex flex-wrap gap-2 page-header justify-content-between align-items-center">
				<h3 class="page-heading">
					Employee Management
				</h3>
				<p class="header-date m-0 " id="current-date"></p>
			</div>

			<div class="d-flex mb-3">
				<a href="#" class="back-arrow pback" onclick="goBack()">
					<i class="ri-arrow-left-line"></i> <span class=" px-3">Back to Previous Page</span>
				</a>
			</div>
			<form th:action="@{addemployee}" th:object="${employee}" method="post">

				<!-- Main Data Container -->

				<div class="data-container p-4 ">
					<div class="row justify-content-center">
						<div class="col-md-11 ">


							<!-- Employee Row 1 -->
							<div class="row differ my-2 justify-content-between " style="border: none; ">

								<!-- 2nd Row 1st Column Start -->
								<div class="col-md-12 differ  pb-3">
									<div class="row">
										<div class="col-md-24  mybg-secondary py-2 mb-3">
											<div class="head ">
												Employee Detail(s)
											</div>
										</div>
									</div>

									<div class="row justify-content-between gap-1">
										<div class="col-md-12 col-sm-4">
											<!-- for lable and input  -->
											<div class="row">
												<div class="col-md-4">
													<label for="Name" class="org-form-label my-2 ">Name</label>
												</div>
												<div class="col-md-7">
													<input type="text" name="addmission-date" th:field="*{empname}"
														id="addmission-date"
														class="form-control org-form-input add-org-form-input">
													<span id="Sender_Name" class="error-message"></span>
												</div>
											</div>
										</div>

										<!-- Phone Column Start  -->
										<div class="col-md-12 col-sm-4">
											<div class="row">
												<div class="col-md-4">
													<label for="phone" class="org-form-label my-2 ">Phone</label>
												</div>
												<div class="col-md-7">
													<input type="text" name="phone" id="phone" th:field="*{empcontact}"
														class="form-control org-form-input add-org-form-input">
													<span id="MobileNo-error" class="error-message"></span>
												</div>
											</div>
										</div>
										<!-- Phone Column End  -->


										<!-- Email Column Start  -->
										<div class="col-md-12 col-sm-4">
											<div class="row">
												<div class="col-md-4">
													<label for="Email" class="org-form-label my-2 ">Email</label>
												</div>
												<div class="col-md-7">
													<input type="text" name="Email" id="Email" th:field="*{empemail}"
														class="form-control org-form-input add-org-form-input">
													<span id="Email-error" class="error-message"></span>
												</div>
											</div>
										</div>
										<!-- Email Column End  -->

										<!--Date of Birth-->
										<div class="row">
											<div class="col-md-4">
												<label for="addmission-date" class="org-form-label my-2 ">Date of
													Birth </label>
											</div>
											<div class="col-md-7">
												<input type="date" name="addmission-date" id="addmission-date"
													class="form-control org-form-input add-org-form-input"
													th:field="*{empdob}">
												<span id="addmission-date-error" class="error-message"></span>
											</div>
										</div>

										<!-- Address Line 1 Column Start  -->
										<div class="col-md-12 col-sm-4">
											<div class="row">
												<div class="col-md-4">
													<label for="address1" class="org-form-label my-2 ">Address </label>
												</div>
												<div class="col-md-7">
													<input type="text" name="address1" id="address1"
														th:field="*{empaddress}"
														class="form-control org-form-input add-org-form-input">
													<span id="address1-error" class="error-message"></span>
												</div>
											</div>
										</div>
										<!-- Address Line 1 Column End  -->


										<!--	 Country Column Start -->
										<div class="col-md-12 col-sm-4">
											<div class="row">
												<div class="col-md-4">
													<label for="country" class="org-form-label my-2 ">Country</label>
												</div>
												<div class="col-md-7">
													<select name="country" id="country" th:field="*{emp_country}"
														class="form-select org-form-input add-org-form-input" <option
														value="">select country</option>
														<!--<option th:each="i:${countrylist}" th:value="${i.id}"
															th:text="${i.countryName }"></option>-->
													</select>
													<span id="country-error" class="error-message"></span>
												</div>
											</div>
										</div>
										<!--Country Column End  -->


										<!--State Column Start -->
										<div class="col-md-12 col-sm-4">
											<div class="row">
												<div class="col-md-4">
													<label for="State" class="org-form-label my-2 ">State</label>
												</div>
												<div class="col-md-7">
													<select name="State" id="state"
														class="form-select org-form-input add-org-form-input"
														th:field="*{emp_state}"
														th:onchange="getdistrict(this.value,'state.district.id')">
														<option value="">select state</option>
														<!--	<option th:each="i:${statelist}" th:value="${i.id}"
															th:text="${i.stateName }"></option>-->

													</select>
													<span id="State-error" class="State-message"></span>
												</div>
											</div>
										</div>
										<!--State Column End -->

										<!--	 District Column Start -->
										<div class="col-md-12 col-sm-4">
											<div class="row">
												<div class="col-md-4">
													<label for="State" class="org-form-label my-2 ">District</label>
												</div>
												<div class="col-md-7">
													<select name="District" id="district"
														class="form-select org-form-input add-org-form-input"
														th:field="*{emp_district}"
													
														<option value="">select District</option>
													<!--	<option th:each="i:${districtlist}" th:value="${i.id}"
															th:text="${i.districtName }"></option>-->

													</select>
													<span id="District-error" class="error-message"></span>
												</div>
											</div>
										</div>
										<!--District Column End-->


										<!--	 City Column Start  
										<div class="col-md-12 col-sm-4">
											<div class="row">
												<div class="col-md-4">
													<label for="pincode" class="org-form-label my-2 ">City</label>
												</div>
												<div class="col-md-7">
													<input type="text" name="City" id="City" th:field="*{Sender_City}"
														class="form-control org-form-input add-org-form-input">
													<span id="pincode-error" class="error-message"></span>
												</div>
											</div>
										</div>
										<!-- City Column Start  -->
										<div class="col-md-12 col-sm-4">
											<div class="row">
												<div class="col-md-4">
													<label for="city" class="org-form-label my-2 ">City
													</label>
												</div>
												<div class="col-md-7">
													<input type="text" name="pincode" id="pincode"
														th:field="*{emp_city}"
														class="form-control org-form-input add-org-form-input">
													<span id="pincode-error" class="error-message"></span>
												</div>
											</div>
										</div>

										<!-- Pin code Column Start  -->
										<div class="col-md-12 col-sm-4">
											<div class="row">
												<div class="col-md-4">
													<label for="pincode" class="org-form-label my-2 ">Pin
														Code</label>
												</div>
												<div class="col-md-7">
													<input type="text" name="pincode" id="pincode"
														th:field="*{empzipcode}"
														class="form-control org-form-input add-org-form-input">
													<span id="pincode-error" class="error-message"></span>
												</div>
											</div>
										</div>
										<!-- Pin code Column Start  -->


										<!-- LandMark code Column Start  -->
										<!--	<div class="col-md-12 col-sm-4">
											<div class="row">
												<div class="col-md-4">
													<label for="LandMark" class="org-form-label my-2 ">LandMark</label>

												</div>
												<div class="col-md-7">
													<input type="text" name="LandMark" id="LandMark"
														th:field="*{Sender_Landmark}"
														class="form-control org-form-input add-org-form-input">

													<span id="LandMark-error" class="error-message"></span>
												</div>
											</div>
										</div>-->


									</div>

								</div>
								<!-- Form Button Controls  -->
								<div class="row my-4 gap-3" style="text-align: center;">
									<div class="col-md-2"> 
										<button type="reset" class="btn btn-danger" style="font-size:15px">Reset</button>
									</div>
									<div class="col-md-2">
										<button type="submit" class="btn btn-success" style="font-size: 15px;" >Save</button>
									</div>
								</div>
			</form>

			<!-- ---table --- -->
							<!-- -table - -->
									<div class="col-md-12 col-lg-12 px-1 py-0">
										<table class="table table-bordered mt-2 table-hover">
											<thead>
												<tr>
													<th class="table-head">id</th>
													<th class="table-head">Name</th>
													<th class="table-head">Email</th>
													<th class="table-head">Contact</th>
													<th class="table-head">Designation</th>
													<th class="table-head">Update/Delete</th>
												</tr>
											</thead>
											<tbody class="border">
												<tr th:each="i : *{emplist}">
													<td th:text="*{i.id}"></td>
													<td th:text="*{i.empname}"></td>
													<td th:text="*{i.empemail}"></td>
													<td th:text="*{i.empcontact}"></td>
													<td th:text="*{i.designation}"></td>

													<td class="table-text ">
														<div class="d-flex">
															<a th:href="@{update(id = ${i.id})}" class="px-2"> <span><i
																		class="material-icons"
																		style="color:springgreen">update</i></span> </a>
															<a th:href="@{delete(id = ${i.id})}" class="px-2"> <span><i
																		class="material-icons"
																		style="color:red">delete</i></span> </a>

													</td>
												</tr>
											</tbody>

										</table>
			<!--   <div class="card-body">
							<table class="table" border="3">
								<thead>
									<tr>
										<td>Id</td>
										<td> Name</td>
										<td>contact</td>
										<td>Designation</td>

									</tr>
								</thead>

								<tbody>
									<tr th:each="i : *{districtList}">
										<td th:text="*{i.id}"></td>
										<td th:text="*{i.state.country.countryName}"></td>
										<td th:text="*{i.state.stateName}"></td>
										<td th:text="*{i.districtName}"></td>

										<td><a th:href="@{update(id=${i.id})}"
											class="btn btn-success">Update</a> <a
											th:href="@{delete(id=${i.id})}" class="btn btn-danger">Delete</a>
										<td>
									</tr>
								</tbody>
							</table>
						</div> -->
			<!--  table ends-->


		</div>
	</div>
	</div>
	</div>
	</div>
	</div>

	</main>

	<!--Script  -->
	<script th:src="@{/js/custom.js}"></script>


</body>

</html>