<div th:fragment="navbar">
	<nav>

		<main class="d-flex">
			<!-- Sidebar -->
			<div class="sidebar  px-3 py-0">
				<!-- Arrow -->
				<div class="sidebar-arrow">
					<i class="ri-menu-line"></i>
				</div>
				<div class="navnav">
					<!-- logo of the Sidebar -->
					<a href="dashv2.html"
						class=" logo-div d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
						<span class="fs-4 heading px-2">
							<img th:src="@{/img/4_logo.png}" alt="" width="170">
						</span>
					</a>
					<div class="nav-content">
						<!-- Categories -->
						<div class="category">

							<ul class=" mt-0 nav nav-pills flex-column mb-auto">
								<li class="">
									<a th:href="@{/dashboard}" class="nav-link link-dark sidebar-li">
										<i class="ri-dashboard-line px-0" style="font-size: 20px;"></i>
										<span>Dashboard</span>
									</a>
								</li>

								<li class="">
									<a href="./haulagemanage" class="nav-link link-dark sidebar-li">
										<i class="ri-organization-chart " style="font-size: 20px;"></i>
										<span>Haulage manage</span>
									</a>
								</li>

								<li>
									<a href="./haulage" class="nav-link link-dark">
										<i class="ri-user-line " style="font-size: 20px;"></i>
										<span>Add Haulage</span>
									</a>
								</li>
							</ul>
						</div>
						<!-- Categories -->
						<div class="category">
							<div class="sub-heading">
								<h6 class="mb-2">Manage</h6>
							</div>
							<ul class=" mt-0 nav nav-pills flex-column mb-auto">

								<li class="collapsible d-b flex flex-column  align-items-start nav-level-first">
									<a href="./haulagemanage" class="nav-link link-dark sidebar-li ">
										<i class="ri-organization-chart " style="font-size: 20px;"></i>
										<span>Cancel booking<span class="sidebar-coll-arrow"><i
													class="ri-arrow-right-s-line"></i></span></span>
									</a>
									<!-- Second Level   -->


									<div class="category">
										<div class="sub-heading">
											<h6 class="mb-2">Administrator</h6>
										</div>
										
										

										<ul class=" mt-0 nav nav-pills flex-column mb-auto">
											<li>
<a href="./employee" class="nav-link link-dark">
<i class="ri-user-line " style="font-size: 20px;"></i>
<span>Manage Employee</span>
</a>
</li>
											<li>
												<a href="./country/country" class="nav-link link-dark">
													<i class="ri-team-line"></i>
													<span>Country</span>
												</a>
											</li>

											<li>
												<a href="./state/state" class="nav-link link-dark">
													<i class="ri-folders-line"></i>
													<span>State</span>
												</a>
											</li>

											<li>
												<a href="./district/district" class="nav-link link-dark">
													<i class="ri-file-chart-line"></i>
													<span>District</span>
												</a>
											</li>
											<li>
												<a href="#Settings" class="nav-link link-dark">
													<i class="ri-settings-2-line"></i>
													<span>Settings</span>
												</a>
											</li>

										</ul>
									</div>
									<!-- Categories End -->
						</div>


						<div class="dropdown position-fixed profile-container  bg-white">
							<a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
								id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
								<img src="https://avatars.githubusercontent.com/u/67789838?v=4" alt="" width="32"
									height="32" class="rounded-circle me-2">
								<span>Profile</span>
							</a>
							<ul class="dropdown-menu profile-menu text-small shadow fade"
								aria-labelledby="dropdownUser2">
								<li><a class="dropdown-item" href="#">New project...</a></li>
								<li><a class="dropdown-item" href="#">Settings</a></li>
								<li><a class="dropdown-item" href="#">Profile</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="./login.html">Sign out</a></li>
							</ul>
						</div>
					</div>
				</div>
		</main>
	</nav>
</div>
